.app-logo {
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 140px;
  padding: 0;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.app-title {
  font-size: 1.4em;
  color: white;
}
