<h5 style="text-align: center; color: #A80000">Техническое обслуживание</h5>
<p *ngIf="allTOs.length == 0">Нет данных</p>
<div *ngIf="allTOs.length > 0" class="card" style="border: none">
  <div class="parent p-1 mb-2">
    <div *ngIf="progressbarInterval > 0" class="pt-3 pb-3">
      <span class="pb-2" style="margin-left: 5.0rem">{{getDaysBeforeTO()}}</span>
      <p-progressBar [value]="progressbarInterval"
                     [style]="{'background-color': getBarColor(), 'border-width': 0}"
                     [pTooltip]="getDaysBeforeTO()">
        <ng-template #content let-value>
          <span style="color: black; font-weight: bolder; font-size: larger">{{value}}</span>
        </ng-template>
      </p-progressBar>
    </div>
  </div>
  <p-table [value]="allTOs"
           dataKey="id"
           editMode="row"
           showGridlines
           stripedRows
           [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
      <tr>
        <th style="width:5%">№</th>
        <th style="width:21%; text-align:center">Дата</th>
        <th style="width:15%; text-align:center">Статус</th>
        <th style="width:55%; text-align:center">Примечание</th>
        <th style="width:4%; padding: 0">
          <a (click)="onAdd()" title="Добавить запись о ТО" onmouseover="" style="cursor: pointer">
            <i class="pi pi-plus-circle" style="padding: 0.4em 0 0 0.8em"></i>
          </a>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-TO let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="TO">
        <td>
          <p-cellEditor>
            <ng-template #input>
              {{TO.id}}
            </ng-template>
            <ng-template #output>
              {{TO.id}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center">
          <p-cellEditor>
            <ng-template #input>
              <p-datePicker [(ngModel)]="TO.inspectionDate"
                            required
                            appendTo="body"
                            dataType="string"
                            dateFormat="dd.mm.yy">
              </p-datePicker>
            </ng-template>
            <ng-template #output>
              {{TO.inspectionDate}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center">
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="states"
                appendTo="body"
                [(ngModel)]="TO.status"
                [style]="{'width':'100%'}" />
            </ng-template>
            <ng-template #output>
              <p-tag [value]="TO.status" [severity]="getSeverity(TO.status)"/>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <textarea rows="4" cols="50" [(ngModel)]="TO.note" pTextarea></textarea>
            </ng-template>
            <ng-template #output>
              {{TO.note}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="padding: 0">
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              title="Редактировать"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(TO)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              title="Сохранить изменения"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(TO)"
              text
              rounded
              severity="secondary"
            ></button>
            <!--button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              title="Отменить изменения"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(TO, ri)"
              text
              rounded
              severity="secondary"
            ></button-->
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              title="Удалить запись о ТО"
              pCancelEditableRow
              icon="pi pi-trash"
              (click)="onRowRemove(TO, ri)"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="allTOs.length == 0" class="btn-row">
  <div class="text-right p-2" style="float: right">
    <button class="btn btn-primary m-1"
            type="button"
            (click)="onAdd()"
            title="Добавить запись о ТО">
      Добавить
    </button>
  </div>
</div>
