.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
}

h5 {
  border-bottom-style: double;
  border-bottom-color: lightgray;
  padding-bottom: 0.2em;
}

:host ::ng-deep .p-progressbar-value {
  background-color: #FFFFFF;
}
