.parent {
  display: grid;
}

.btn-row {
  grid-row-start: 2;
  float: right;
}

img.gallery-image {
  object-fit: contain;
  width: 100%;
  max-height: 550px;
}

.ui-panel-images {
  width      : 100%;
  height     : 100%;
  object-fit : contain;
}
