<h5 style="text-align: center; color: #A80000">Перечень отказов</h5>
<app-info-dialog
  [message]="message"
  [display]="dialogVisible"
  (confirm)="onConfirm()">
</app-info-dialog>
<p *ngIf="allFailures.length == 0">Нет данных</p>
<div *ngIf="allFailures.length > 0" class="card" style="border: none">
  <p-table [value]="displayedFailures"
           dataKey="id"
           editMode="row"
           showGridlines
           stripedRows
           [paginator]="true"
           [rows]="10"
           [rowsPerPageOptions]="[5, 10, 20]"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="Показаны {first}-{last} из {totalRecords} записей"
           [tableStyle]="{'min-width': '50rem'}">
    <ng-template #caption>
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText type="text"
            (input)="applyFilter($event)"
            (keyup)="applyFilter($event)"
            placeholder="Поиск в таблице"/>
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width:4%">№</th>
        <th style="width:24%; text-align:center">Дата</th>
        <th style="width:15%; text-align:center">Уровень</th>
        <th style="width:50%; text-align:center">Описание</th>
        <th style="width:5%; padding: 0">
          <a (click)="onAdd()" title="Добавить запись об отказе" onmouseover="" style="cursor: pointer">
            <i class="pi pi-plus-circle"
               style="padding: 0.4em 0 0 0.8em">
            </i>
          </a>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-f let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="f" (dblclick)="onFailureRowDoubleClick(f)">
        <td>
          <p-cellEditor>
            <ng-template #input>
              {{f.id}}
            </ng-template>
            <ng-template #output>
              {{f.id}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center">
          <p-cellEditor>
            <ng-template #input>
              <p-datePicker [(ngModel)]="f.date"
                            required
                            appendTo="body"
                            dataType="string"
                            dateFormat="dd.mm.yy">
              </p-datePicker>
            </ng-template>
            <ng-template #output>
              {{f.date}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center">
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="severities"
                appendTo="body"
                [(ngModel)]="f.severity"
                [style]="{'width':'100%'}" />
            </ng-template>
            <ng-template #output>
              <p-tag [value]="f.severity" [severity]="getSeverity(f.severity)"/>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <textarea rows="4" cols="50" [(ngModel)]="f.description" pTextarea></textarea>
            </ng-template>
            <ng-template #output>
              {{f.description}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="padding: 0">
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              title="Редактировать"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(f)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              title="Сохранить изменения"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(f)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              title="Отменить изменения"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(f, ri)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              title="Удалить запись об отказе"
              pCancelEditableRow
              icon="pi pi-trash"
              (click)="onRowEditRemove(f)"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="allFailures.length == 0" class="btn-row">
  <div class="text-right p-2" style="float: right">
    <button class="btn btn-primary m-1"
            type="button"
            (click)="onAdd()"
            title="Добавить запись об отказе">
      Добавить
    </button>
  </div>
</div>
<span class="pt-3">* Нажмите 2 раза на строку в таблице для просмотра/редактирования Отказа</span>
