<p *ngIf="allRecords.length == 0">Нет данных</p>
<div *ngIf="allRecords.length > 0" class="card" style="border: none">
    <div class="parent p-1 mb-3">
        <div class="engine-to-stripe">
            <h5 class="title">Интервалы работы двигателя</h5>
            <div *ngIf="timeTillNearestEngineTO" class="time-left-display" [ngClass]="getSeverityClass()">
                <div class="time-left-label">{{ getTimeLeftText() }}</div>
            </div>
            <div *ngIf="!timeTillNearestEngineTO" class="alert alert-info">
                Дата ближайшего ТО не установлена
            </div>
        </div>
    </div>

    <p-table [value]="allRecords"
             dataKey="id"
             editMode="row"
             showGridlines
             stripedRows
             [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th style="width:5%">№</th>
                <th style="width:15%; text-align:center">Старт</th>
                <th style="width:15%; text-align:center">Стоп</th>
                <th style="width:10%; text-align:center">Длительность</th>
                <th style="width:20%; text-align:center">Кем добавлено</th>
                <th style="width:10%; text-align:center">Когда добавлено</th>
                <th style="width:11%; text-align:center">Примечание</th>
                <th style="width:4%; padding: 0">
                    <a (click)="onAdd()" title="Добавить запись о ТО" onmouseover="" style="cursor: pointer">
                        <i class="pi pi-plus-circle" style="padding: 0.4em 0 0 0.8em"></i>
                    </a>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-TO let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="TO">
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            {{TO.id}}
                        </ng-template>
                        <ng-template #output>
                            {{TO.id}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center">
                    <p-cellEditor>
                        <ng-template #input>
                            <p-datePicker [(ngModel)]="TO.engineActiveFrom"
                                          [showTime]="true"
                                          required
                                          appendTo="body"
                                          dataType="string"
                                          dateFormat="dd.mm.yy">
                            </p-datePicker>
                        </ng-template>
                        <ng-template #output>
                            {{TO.engineActiveFrom}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center">
                    <p-cellEditor>
                        <ng-template #input>
                            <p-datePicker [(ngModel)]="TO.engineActiveTill"
                                          [showTime]="true"
                                          required
                                          appendTo="body"
                                          dataType="string"
                                          dateFormat="dd.mm.yy">
                            </p-datePicker>
                        </ng-template>
                        <ng-template #output>
                            {{TO.engineActiveTill}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            {{TO.engineOperateDuration}}
                        </ng-template>
                        <ng-template *ngIf="!editing" #output>
                            {{TO.engineOperateDuration}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            {{TO.reporter}}
                            <input [(ngModel)]="TO.reporter" pInputText/>
                        </ng-template>
                        <ng-template *ngIf="!editing" #output>
                            {{TO.reporter}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            {{TO.reportedTimestamp}}
                        </ng-template>
                        <ng-template *ngIf="!editing" #output>
                            {{TO.reportedTimestamp}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            <textarea rows="4" cols="50" [(ngModel)]="TO.note" pTextarea></textarea>
                        </ng-template>
                        <ng-template #output>
                            {{TO.note}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="padding: 0">
                    <div class="flex items-center justify-center gap-2">
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            title="Редактировать"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            text
                            rounded
                            severity="secondary"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            title="Сохранить изменения"
                            pSaveEditableRow
                            icon="pi pi-check"
                            (click)="onRowEditSave(TO)"
                            text
                            rounded
                            severity="secondary"
                        ></button>
                        <!--button
                          *ngIf="editing"
                          pButton
                          pRipple
                          type="button"
                          title="Отменить изменения"
                          pCancelEditableRow
                          icon="pi pi-times"
                          (click)="onRowEditCancel(TO, ri)"
                          text
                          rounded
                          severity="secondary"
                        ></button-->
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            title="Удалить запись о работе двигателя"
                            pCancelEditableRow
                            icon="pi pi-trash"
                            (click)="onRowRemove(TO, ri)"
                            text
                            rounded
                            severity="secondary"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div *ngIf="allRecords.length == 0" class="btn-row">
    <div class="text-right p-2" style="float: right">
        <button class="btn btn-primary m-1"
                type="button"
                (click)="onAdd()"
                title="Добавить запись о времени работы двигателя">
            Добавить
        </button>
    </div>
</div>

