.layout {
  width: 100%;
  display: flex;
  gap: 8px;
  border-bottom-style: double;
  border-bottom-color: lightgray;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.marginLeft { margin-left: auto; }

.dv {
  color: dimgrey;
  background-color: #eee;
  margin-top: 0.5em;
  font-size: 1rem;
}
.dv:hover {
  color: #fff;
  background-color: #42545C;
}

.user-menu {
  margin-top: 1em;
}
