<section class="layout">
    <div class="dv">
        <button class="uav-button"
                title="К списку БВС"
                (click)="navigateToUAVs()">
            БВС
        </button>
    </div>
    <div class="dv">
        <button title="К списку пользователей"
                class="uav-button"
                (click)="navigateToUsers()"
                [disabled]="!isAdmin()">
            Пользователи
        </button>
    </div>
    <div class="dv">
        <button title="Логи БВС в Next Cloud"
                class="uav-button"
                (click)="navigateToUsers()"
                [disabled]="!isAdmin()">
            Логи
        </button>
    </div>
    <div class="dv">
        <button title="Регистрация отказов БВС"
                class="uav-button"
                (click)="navigateToUsers()"
                [disabled]="!isAdmin()">
            Регистрация отказов
        </button>
    </div>
    <div class="marginLeft">
        <p title="Текущий пользователь" style="margin-top: 1.0em">{{ username }}:</p>
    </div>
    <div class="user-menu" title="Профиль пользователя | Выход">
        <p-menu #menu
                [model]="items"
                [popup]="true"
                appendTo="body"/>
        <p-button (click)="menu.toggle($event)"
                  [style]="{width: '2.5em', color: 'black', background: '#EEEEEE', 'border-color': '#EEEEEE'}">
            <i class="pi pi-ellipsis-v" style="float: right"></i>
        </p-button>
    </div>
</section>
<router-outlet/>
